@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #5a5a5a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4a4a4a;
    --foreground: #e5e5e5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
  padding-top: 0; /* No padding needed as navbar is sticky, not fixed */
}

@media (max-width: 768px) {
  body {
    padding-top: 0; /* No padding needed as navbar is sticky, not fixed */
  }
}
